* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black; */
}

.image-thumbnail {
    min-height: 75px;
    max-width: 160px;
    width: 100%;
    object-fit:cover
}

.category-id {
    min-width: 50px;
}
.category-name {
    min-width: 50px;
}
.category-images {
    min-width: 50px;
    overflow: auto
}
.category-actions {
    width: auto;
}
.full-height {
    height: 100vh;
}
#category-list {
    width: 100%;
}

.btn-full-width {
    width: 100%;
}
.image-list {
    margin-top:2rem;
    position: relative;
}

.image-form {
    position: relative;
}
.image-delete-btn {
    position: absolute;
    top: -20px;
    right: -10px;
}
#category-form > button > i {

}