{% extends 'base.html' %} {% block content %}

<div class="grid grid-cols-1 gap-4 bg-gray-900 text-white px-12">
  
    <h2 class="pt-16 text-3xl font-semibold text-white">All Categories</h2>
    {% if error %}
    <div class="bg-red-500 text-white p-3 mb-4 rounded-md text-white">
        <p class="text-white"><i class="fas fa-exclamation-triangle text-white"></i> {{ error }}</p>
    </div>
    {% endif %}
    
    {% if success %}
    <div class="bg-red-500 text-white p-3 mb-4 rounded-md text-white">
        <p class="text-white"><i class="fas fa-exclamation-triangle text-white"></i> {{ success }}</p>
    </div>
    {% endif %}
    
    <div class="flex flex-col space-y-6">
    {% for category in categories %}
        <label for="category_name" class="text-white">Category Name:{{category.CategoryName}} - CategoryID:{{category.CategoryID}}</label>
            
        <div class="flex flex-row overflow-auto">
                {% for image in category.uploaded_images %}
                    <img class="image-thumbnail" src="{{image.ImageURL}}" alt="" srcset="">
                {% endfor %}
        </div>
        
    {% endfor %}


    </div>

</div>
{% endblock %}