{% extends 'base.html' %} {% block content %}

<div class="card full-height">
	<div class="card-body">
        <div class="row">
            <div class="col-12">
                <h2 class="pt-16 text-3xl font-semibold ">Edit Category</h2>
                {% if error %}
                <div class="bg-red-500  p-3 mb-4 rounded-md ">
                    <p class=""><i class="fas fa-exclamation-triangle "></i> {{ error }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-12">
                <form action="/category/edit/{{category.CategoryID}}" method="POST" onsubmit="e => e.preventDefault()" id="category-form"
                     enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label for="category_name" class="">Name</label>
                        </div>
                        <div class="col-12">
                            <input class="" id="category_name" type="text" name="category_name" value="{{category.CategoryName}}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="category_name" class="">Ordering</label>
                        </div>
                        <div class="col-12">
                            <input class="" id="category_name" type="number" name="category_ordering" value="{{category.Ordering}}"/>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-12">
                            <label for="category_description" class="">Description</label></p>
                        </div>
                        <div class="col-12">
                            <textarea class="" id="category_description" name="category_description" rows="2"
                            cols="50">{{category.Description}}</textarea>
                        </div>
                    </div>
        
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}