{% extends 'base.html' %} {% block content %}

<div class="card full-height">
	<div class="card-body">
        <div class="row">
            <div class="col-12">
                <h2 class="pt-16 text-3xl font-semibold ">Edit Category</h2>
                {% if error %}
                <div class="bg-red-500  p-3 mb-4 rounded-md ">
                    <p class=""><i class="fas fa-exclamation-triangle "></i> {{ error }}</p>
                </div>
                {% endif %}
            </div>
            <div class="col-12">
                <form action="/category/edit/{{category.CategoryID}}" method="POST"  id="category-form" class="information-form"
                     enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <label for="category_name" class="form-label">Name</label>
                        </div>
                        <div class="col-12">
                            <input class="form-control" id="category_name" type="text" name="category_name" value="{{category.CategoryName}}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label for="category_ordering" class="form-label">Ordering</label>
                        </div>
                        <div class="col-12">
                            <input class="form-control" id="category_ordering" type="number" name="category_ordering" value="{{category.Ordering}}"/>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-12">
                            <label for="category_description" class="form-label">Description</label></p>
                        </div>
                        <div class="col-12">
                            <textarea class="form-control" id="category_description" name="category_description" rows="2"
                            cols="50">{{category.Description}}</textarea>
                        </div>
                    </div>

                    <div class="row image-list">
                        {% for image in images %}
                        <div class="col-1 image-form pb-4">
                            <img
                                class="image-thumbnail"
                                src="{{image.ImageURL}}"
                                image-id="{{image.ImageID}}"
                                alt="{{image.ImageID}}"
                                srcset=""
                                id-index="{{loop.index}}"
                            />
                            <label for="image_ordering-{{loop.index}}" class="form-label m-0">Order</label>
                            <input class="form-control" id="image_ordering-{{loop.index}}" type="number" name="image_ordering-{{loop.index}}" />
    
                                <button type="submit" class="btn btn-secondary image-delete-btn">
                                    <i class="bi bi-x-lg"></i>
                                </button>
                        </div>
                                
                        {% endfor %}
                    </div>

                    <div class="row pt-2">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary p-2 ">
                                Submit
                            </button>
                        </div>
                    </div>
        
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}