{% extends 'base.html' %} {% block content %}
<div class="card full-height">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-3xl font-semibold">Edit Images</h2>
          {% if error %}
          <div class="bg-red-500 p-3 mb-4 rounded-md">
            <p class="">
              <i class="fas fa-exclamation-triangle"></i> {{ error }}
            </p>
          </div>
          {% endif %}
        </div>

        <div class="col-12">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <label class="form-label">Choose a category:</label>
              </div>
              <div class="col-12">
                <select
                  name="category"
                  id="category-list"
                  class="py-2 form-select"
                  onchange="onSelectCategoryID(this)"
                >
                  <option selected value="0">-- select an option --</option>
                  {% for category in categories %}
                  <option value="{{category.CategoryID}}">
                    {{category.CategoryName}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        {% if images %}
        <div class="col-12">
          <div class="row image-list">
            {% for image in images %}
            <div
              class="col-1 image-form pb-4 d-flex flex-column justify-content-between"
            >
              <img
                class="image-thumbnail"
                src="{{image.ImageURL}}"
                image-id="{{image.ImageID}}"
                alt="{{image.ImageID}}"
                srcset=""
                id-index="{{loop.index}}"
              />
              <div class="row">
                <div class="col-12 text-left">
                  <label class="form-label mt-auto">Order</label>
                </div>
                <div class="col-12">
                  <input
                    class="form-control"
                    id="image-order"
                    type="number"
                    name="image-order"
                    category-id="{{image.CategoryID}}"
                    image-id="{{image.ImageID}}"
                    value="{{image.Ordering}}"
                  />
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-secondary image-delete-btn"
                category-id="{{image.CategoryID}}"
                image-id="{{image.ImageID}}"
              >
                <i class="bi bi-x-lg"></i>
              </button>
            </div>

            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="col-12 py-4">
          <div class="row">
            <div class="col-2">
              <button
                type="submit"
                id="form-submit"
                class="btn btn-primary w-100"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Binding for select value persistant
  const categorySelectList = document.getElementById("category-list");
  categorySelectList.value = null;
  const selectedCategory = localStorage.getItem("category");
  if (selectedCategory) {
    categorySelectList.value = selectedCategory;
  }
  const onSelectCategoryID = (select) => {
    if (select.value == "-1") {
      return void 0;
    }
    localStorage.setItem("category", select.value);
    return (window.location.href =
      window.location.origin + "/image/" + select.value);
  };

  // Handle delete button
  const imageDeleteBtn = document.getElementsByClassName("image-delete-btn");
  let categoryId, imageId;

  Array.from(imageDeleteBtn).map((nodeBtn) =>
    nodeBtn.addEventListener("click", async (event) => {
      categoryId = nodeBtn.getAttribute("category-id");
      imageId = nodeBtn.getAttribute("image-id");
      console.log(imageId, categoryId, "****");

      const formData = new FormData();
      formData.append("ImageID", imageId);
      formData.append("CategoryID", categoryId);

      console.log(formData.getAll("CategoryID"), "--------");
      try {
        const response = await fetch(`/image/delete/${categoryId}/${imageId}`, {
          method: "POST",
          body: formData,
        });

        const data = await response.json();

        if (data.success) {
          return (window.location.href = window.location.href);
        }
      } catch (error) {
        console.error(error);
      }
    })
  );

  // Handle submit all
  const submitBtn = document.getElementById("form-submit");
  const imageOrderInputs = Array.from(
    document.querySelectorAll("#image-order")
  );
  submitBtn.addEventListener("click", async (event) => {
    const listOfImageOrderInputs = imageOrderInputs.map((inputNode) => {
      return {
        CategoryID: inputNode.getAttribute("category-id"),
        ImageID: inputNode.getAttribute("image-id"),
        Ordering: inputNode.value || null,
      };
    });

    try {
      const response = await fetch("/image/ordering", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(listOfImageOrderInputs),
      });

      const data = await response.json();

      if (data.success) {
        return (window.location.href = window.location.href);
      }
    } catch (error) {
      console.error(error);
    }

  });
</script>

{% endblock %}
