{% extends 'base.html' %} {% block content %}
<div class="card full-height">
	<div class="card-body">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="text-3xl font-semibold">Upload Images</h2>
					{% if error %}
					<div class="bg-red-500 p-3 mb-4 rounded-md">
						<p class="">
							<i class="fas fa-exclamation-triangle"></i> {{ error }}
						</p>
					</div>
					{% endif %}
				</div>

				<div class="col-12">
					<form
						action="/upload"
						method="POST"
						onsubmit="e => e.preventDefault()"
						id="upload-form"
						class="grid grid-cols-1"
						enctype="multipart/form-data"
					>
						<div class="container">
							<div class="row">
								<div class="col-12 p-2">
									<div class="row">
										<div class="col-12">
											<label class="" for="file">Upload Images:</label>
										</div>
										<div class="col-12">
											<input class="" type="file" name="file" multiple />
										</div>
									</div>
								</div>
								<div class="col-12 p-2">
									<div class="row">
										<div class="col-12">
											<label class="" for="category">Choose a category:</label>
										</div>
										<div class="col-12">
											<select
												name="category"
												id="category-list"
												class="py-2"
											>
												{% for category in categories %}
												<option value="{{category.CategoryID}}">
													{{category.CategoryName}}
												</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="col-12 p-2">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
